In [1]:
from collections import namedtuple

# create a namedtuple called country to represent a country

country = namedtuple("country", ["name", "capital", "continent"])

In [3]:
france = country("France", "Paris", "Europe")
japan = country("Japan", "Tokyo", "Europe")
senegal = country("Senegal", "Dakar", "Africa")

In [5]:
countries = (france, japan, senegal)
print(countries)

(country(name='France', capital='Paris', continent='Europe'), country(name='Japan', capital='Tokyo', continent='Europe'), country(name='Senegal', capital='Dakar', continent='Africa'))

In [7]:
def odd_or_even(n, even_function, odd_function):
    if n % 2 == 0:
        return even_function(n)
    else:
        return odd_function(n)

square = lambda x: x * x
cube = lambda x: x * x * x

test = odd_or_even(5, cube, square)

print(test)

25

In [9]:
#filter(), map(), reduce()

nums = (16, 2, 19, 22, 10, 23, 16, 2, 27, 29, 19, 26, 12, 20, 16, 29, 6, 2, 12, 20)

filtered_numbers = filter(lambda x: x % 2 == 0, nums)
print(tuple(filtered_numbers))

mapped_numbers = map(lambda x: x * 3, nums)
print(tuple(mapped_numbers))

from functools import reduce

sum = reduce(lambda x, y: x + y, nums)
print(sum)

(16, 2, 22, 10, 16, 2, 26, 12, 20, 16, 6, 2, 12, 20)
(48, 6, 57, 66, 30, 69, 48, 6, 81, 87, 57, 78, 36, 60, 48, 87, 18, 6, 36, 60)
328

In [10]:
#map() and filter() together

greater_than_10_doubled = map(lambda x: x * 2, filter(lambda a: a > 10, nums))
print(tuple(greater_than_10_doubled))

functional_way = map(lambda x: x * 3, filter(lambda a: a % 3 == 0, nums))
print(tuple(functional_way))

(32, 38, 44, 46, 32, 54, 58, 38, 52, 24, 40, 32, 58, 24, 40)
(81, 36, 18, 36)

In [11]:
# reduce() and filter() together

from collections import namedtuple
from functools import reduce

menu_item = namedtuple("menu_item", ["name", "dish_type", "price"])

jsp = menu_item("Jumbo Shrimp Platter", "Appetizer", 29.95)
lc = menu_item("Lobster Cake", "Appetizer", 30.95)
scb = menu_item("Sizzling Canadian Bacon", "Appetizer", 9.95)
ccc = menu_item("Codecademy Crab Cake", "Appetizer", 32.95)
cs = menu_item("Caeser Salad", "Salad", 14.95)
mgs = menu_item("Mixed Green Salad", "Salad", 10.95)
cp = menu_item("Codecademy Potatoes", "Side", 34.95)
mp = menu_item("Mashed Potatoes", "Side", 14.95)
a = menu_item("Asparagus", "Side", 15.95)
rs = menu_item("Ribeye Steak", "Entree", 75.95)
phs = menu_item("Porter House Steak", "Entree", 131.95)
grs = menu_item("Grilled Salmon", "Entree", 36.95)

menu = (jsp, lc, scb, ccc, cs, mgs, cp, mp, a, rs, phs, grs)

In [13]:
entree = reduce(lambda x, y: x if x.price > y.price else y, filter(lambda x: x.dish_type == "Entree", menu))
print(entree)

least_expensive =  reduce(lambda x, y: x if x.price < y.price else y, filter(lambda x: x.dish_type == "Side" or x.dish_type == "Salad", menu))
print(least_expensive)

menu_item(name='Porter House Steak', dish_type='Entree', price=131.95)
menu_item(name='Mixed Green Salad', dish_type='Salad', price=10.95)

In [14]:
# find the totsl number of fruitd sold.
# fruit_name: (amount sold on day 1, amount sold on day 2, amount sold on day 3)

from functools import reduce

fruits = {"Grape":(4, 6, 2), "Lemon":(7, 3, 1), "Orange":(5, 8, 1), "Apple":(2, 8, 10), "Watermelon":(0, 9, 6)}

total_fruits = reduce(lambda x, y: x+y, map(lambda q: fruits[q][0] + fruits[q][1] + fruits[q][2], fruits))
print(total_fruits)

72

In [15]:
costs = {"shirt": (4, 13.00), "shoes":(2, 80.00), "pants":(3, 100.00), "socks":(5, 5.00), "ties":(3, 14.00), "watch":(1, 145.00)}

nums = (24, 6, 7, 16, 8, 2, 3, 11, 21, 20, 22, 23, 19, 12, 1, 4, 17, 9, 25, 15)

total = reduce(lambda x, y: x+y, filter(lambda r: r > 150.00, map(lambda q: costs[q][0] * costs[q][1], costs)))

print(total)

product = -1

product = reduce(lambda x, y: x * y, map(lambda z: z + 5, filter(lambda q: q < 10, nums)))

print(product)

460.0
72648576